@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background: url("image/bj.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}
ul{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 100px;
    left:50%;
    margin-left: -100px;
    transform-style:preserve-3d ;
    transform: rotateX(-10deg);
    animation: sport 12s linear 0s infinite normal;
}
@keyframes sport {
    from{
        transform:rotateX(-10deg) rotateY(0deg);
    }
    to{
        transform:rotateX(-10deg) rotateY(360deg);
    }
}
ul:hover{
    animation-play-state:paused;/*从当前停止*/
}
ul:hover li img{
    opacity: 0.5;
}
ul li:hover img{
    opacity: 1;
}
ul li{
    list-style: none;
    width: 200px;
    height:200px;
    position: absolute;
    left:0;
    top:0;
    background: black;
    border: 3px solid skyblue;
    /*box-sizing: border-box;*/
}
ul li:nth-child(1){
    transform: rotateY(60deg) translateZ(200px);
}
ul li:nth-child(2){
    transform: rotateY(120deg) translateZ(200px);
}
ul li:nth-child(3){
    transform: rotateY(180deg) translateZ(200px);
}
ul li:nth-child(4){
    transform: rotateY(240deg) translateZ(200px);
}
ul li:nth-child(5){
    transform: rotateY(300deg) translateZ(200px);
}
ul li:nth-child(6){
    transform: rotateY(360deg) translateZ(200px);
}
ul li img{
    width: 200px;
    height: 200px;
}
.heart{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    bottom: 100px;
    animation:sports 10s linear 0s infinite normal;
}
.myheart{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 100px;
    bottom: 100px;
    animation:mysports 10s linear 3s infinite normal;
    opacity: 0;
}
@keyframes sports{
    0%{
        left:100px;
        bottom:100px;
        opacity: 0;
    }
    20%{
        left:300px;
        bottom:300px;
        opacity: 1;
    }
    40%{
        left:500px;
        bottom:500px;
        opacity: 0;
    }
    60%{
        left:700px;
        bottom:300px;
        opacity: 1;
    }
    80%{
        left:900px;
        bottom:100px;
        opacity: 0;
    }
    100%{
        left: 700px;
        bottom:-200px;
        opacity: 1;
    }
}
@keyframes mysports{
    0%{
        right:100px;
        bottom:100px;
        opacity: 0;
    }
    20%{
        right:300px;
        bottom:300px;
        opacity: 1;
    }
    40%{
        right:500px;
        bottom:500px;
        opacity: 0;
    }
    60%{
        right:700px;
        bottom:300px;
        opacity: 1;
    }
    80%{
        right:900px;
        bottom:100px;
        opacity: 0;
    }
    100%{
        right: 700px;
        bottom:-200px;
        opacity: 1;
    }
}
video{
    display: none;
}